<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="boris_category_key_router" xsi:type="array">
                    <item name="class" xsi:type="string">Boris\CategoryPage\Router\CategoryKeyRouter</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">45</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Helper\Product">
        <plugin name="boris_allow_hidden_product_view"
                type="Boris\CategoryPage\Plugin\AllowHiddenProductView"/>
    </type>
</config>
