<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Boris_LogViewer::logs"
             title="JerseyStore Logs"
             module="Boris_LogViewer"
             sortOrder="90"
             parent="Magento_Backend::system_tools"
             action="boris_logviewer/log/index"
             resource="Boris_LogViewer::logs"/>
    </menu>
</config>
